*
{
    margin: 0;
    padding: 0;
}
  #profile-pic{
    height: 300px;
    width: 200px;
    bottom: 1000px;
}
#footer-logo{
    height: 50px;
}
.Footer{
    text-align: center;
}
.contact{
    background: #888E8C;
    text-align: center;
    text-decoration:underline;
}
#text-box{
   
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(8, 7, 7);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
#input{
    width: 80%;
    height: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(8, 7, 7);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
#submit{
   
    padding: 10px 40px;
    box-sizing: border-box;
    border: 2px solid rgb(8, 7, 7);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    position: center;
}
.button1 li{
    margin-left: 46.5%;
  
}
#portfolio{
    text-align: center;
    text-decoration: underline;
}
.about{ 
    text-align: center;
    text-decoration: underline;
}
#carouselExampleCaptions{
    width: 50%;
    height: 20%;
    padding: 1em;
    position: center;
    align-content: center;
    margin: auto;
}






